body
{
    background-color: #eeeeee;
    margin: 0;
    padding: 2.5rem 5rem;
}

.title
{
    text-align: center;
}

.subtitle
{
    font-weight: bold;
}

.section
{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
}

#mutlimedia-image
{
    border-radius: 5px;
    height: 400px;
    width: 400px;
}


#linksSection a
{
    color: inherit;
    font-weight: bold;
    margin: 0.5rem 0;
    text-decoration: none;
}

#linksSection a:hover
{
    color: #4c71de;
}

#contactForm
{
    background-color: #dddddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    outline: 2px solid black;
    padding: 2rem;
}

#contactForm *
{
    margin: 1rem 0;
}

#contactForm *:first-child
{
    margin-top: 0;
}

#contactForm *:last-child
{
    margin-bottom: 0;
}

.contactForm-input
{
    background-color: #eeeeee;
    border-radius: 3px;
    height: 25px;
}

.contactForm-textArea
{
    background-color: #efefef;
    border-radius: 3px;
    height: 150px;
    resize: none;
    width: 100%;
}

.contactForm-button
{
    background-color: #101010;
    border-radius: 3px;
    color: white;
    height: 40px;
}